[ ca ]
default_ca      = CA_default

[ CA_default ]
serial = server-ca-cert.srl
crl = ca-crl.pem
database = ca-database.txt
name_opt = CA_default
cert_opt = CA_default
default_crl_days = 9999
default_md = md5

policy = policy_strict
email_in_dn = no
unique_subject = no

[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
output_password        = password

[ req_distinguished_name ]
C                      = US
ST                     = CA-Server
L                      = CA-Server
O                      = Example Co
OU                     = inter-server
CN                     = ca
emailAddress           = inter-certs@example.com

[ req_attributes ]
challengePassword      = test

[ v3_intermediate_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:alwyas,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ policy_strict ]
countryName = match
stateOrProvinceName = match
commonName = supplied
organizationName = supplied
organizationalUnitName = supplied
emailAddress = optional
